# Xcode
*.xcuserstate
xcuserdata/
*.xcscmblueprint
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods (no longer used)
Pods/
*.xcworkspace
Podfile.lock

# Generated project (regenerate with: xcodegen generate)
*.xcodeproj

# Build
build/
